.c_container {
    display: flex;
    flex-direction: column; /* 수직으로 배치 */
}

.small-placeholder::placeholder {
    font-size: 12px; /* 원하는 크기로 조절하세요 */
    /* 다른 스타일 속성도 추가할 수 있습니다. */
}

.Answercontainer {
    /* 기존 스타일 속성들 유지 */
    margin-left:70%;
}

.chartcontainer {
    /* 기존 스타일 속성들 유지 */
    display: flex;
    flex-direction: row; /* 수평으로 배치 */
    justify-content: space-evenly; /* 자식 요소 사이의 간격을 최대화 */
    margin-top: 40px; /* 위쪽으로 여백을 추가하여 내립니다. */
}

.Barchartcontainer,
.Doughnutchartcontainer {
    width: 30%
}

