.data_container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr; /* 세 컬럼으로 분할 */
    gap: 20px; /* 컬럼 간 간격 */
    background-color: #dcdcdc; /* 회색 배경 */
    padding: 20px; /* 내부 여백 */
}

.count_container, .chart_container {
    background-color: #fff; /* 흰색 배경 */
    padding: 20px; /* 내부 여백 */
    border-radius: 10px; /* 경계선 둥글게 */
    flex-direction: column;
    align-items: center; /* 세로 방향 중앙 정렬 */
    justify-content: center; /* 가로 방향 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.Barchart {
    width: 100%; /* 차트 너비 전체 사용 */
    height: auto; /* 자동 높이 조정 */
}

.Doughnutchart {
    width: auto;
    height: 60%;
}

/* 반응형 디자인을 위해 미디어 쿼리 추가 */
@media (max-width: 768px) {
    .chart_container {
        flex-direction: column; /* 모바일 뷰에서는 차트를 세로로 배치 */
    }

    .Barchart, .Doughnutchart {
        flex-basis: auto; /* 모바일 뷰에서는 차트의 너비를 자동으로 설정 */
    }
}
