.ttobak{
    font-family: 'Noto Sans', sans-serif;
}

.lactofit{
    font-family: 'Noto Sans', sans-serif;
}

.r_container{
    display: flex;
    flex-direction: row; /* 수평으로 배치 */
    justify-content: space-evenly; /* 자식 요소 사이의 간격을 최대화 */
    margin-top: 40px; /* 위쪽으로 여백을 추가하여 내립니다. */
}

.select_container{
    display:flex;
    justify-content:center;

}

.custom-select-width{
    width:425px;

}

.chartcontainer {
    width: 80%; /* Adjust the width as needed */
    height: 500px; /* Adjust the height as needed */
    margin: auto; /* This centers the container */
}
.Barchartcontainer {
    width: 50%
}
